data/theme/lemon.css
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/.debhelper/
debian/lemon-common/
debian/lemon-dbg/
debian/lemon-doc/
debian/lemon/
debian/debhelper-build-stamp
debian/files
debian/tmp/
obj-x86_64-linux-gnu
*.pyc
_codeql_detected_source_root/
build/iso/
