[Desktop Entry]
Icon=cs-privacy
Exec=lemon-settings privacy
Type=Application
OnlyShowIn=X-Lemon;
Categories=Settings;
Name=Privacy
Name[am]=የ ግል
Name[ar]=الخصوصية
Name[ast]=Privacidá
Name[ay]=Jan yaqhipar churaña
Name[az]=Gizlilik
Name[be]=Прыватнасць
Name[bg]=Поверителност
Name[br]=Prevezded
Name[ca]=Privadesa
Name[ca@valencia]=Privadesa
Name[cs]=Soukromí
Name[cy]=Preifatwydd
Name[da]=Privatliv
Name[de]=Datenschutz
Name[el]=Ιδιωτικότητα
Name[eo]=Privateco
Name[es]=Privacidad
Name[es_AR]=Privacidad
Name[et]=Privaatsus
Name[eu]=Pribatutasuna
Name[fa]=حریم‌خصوصی
Name[fi]=Tietosuoja
Name[fr]=Protection des renseignements personnels
Name[fr_CA]=Protection des renseignements personnels
Name[gd]=Prìobhaideachd
Name[gl]=Intimidade
Name[he]=פרטיות
Name[hi]=निजता
Name[hr]=Privatnost
Name[hu]=Magánszféra
Name[ia]=Confidentialitate
Name[id]=Privasi
Name[ie]=Privatie
Name[is]=Friðhelgi
Name[ja]=個人情報
Name[ka]=პირადი ინფორმაცია
Name[kab]=Tusligt
Name[ko]=프라이버시
Name[ku]=Veşarî
Name[la]=Privata
Name[lo]=ຄວາມເປັນສ່ວນຕົວ
Name[lt]=Privatumas
Name[lv]=Privātums
Name[ms]=Privasi
Name[nb]=Personvern
Name[nds]=Privatssphäre
Name[nl]=Privéleven
Name[nn]=Personvern
Name[oc]=Vida privada
Name[pl]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[ro]=Confidențialitate
Name[ru]=Конфиденциальность
Name[rue]=Конфіденціалность
Name[sc]=Riservadesa
Name[sk]=Súkromie
Name[sl]=Zasebnost
Name[sq]=Privatësia
Name[sr]=Приватност
Name[sr@ijekavian]=Приватност
Name[sr@ijekavianlatin]=Приватност
Name[sr@latin]=Privatnost
Name[sv]=Sekretess
Name[th]=ความเป็นส่วนตัว
Name[tr]=Gizlilik
Name[uk]=Конфіденційність
Name[ur]=پرائیویسی
Name[uz]=Mahfiylik
Name[vi]=Riêng tư
Name[zh_CN]=隐私
Name[zh_HK]=私隱
Name[zh_TW]=隱私
Comment=Lemon privacy settings
Comment[am]=ሲናሞን የ ግል ማሰናጃ
Comment[ar]=إعدادات خصوصية سنامُن
Comment[ast]=Axustes de privacidá Lemon
Comment[ay]=Kunjams yaqhipar yatiyawi jan churataspa Lemonan
Comment[az]="Lemon" gizlilik quruluşları
Comment[be]=Налады прыватнасці ў Lemon
Comment[bg]=Настройки за поверителност на Lemon
Comment[ca]=Ajusts de privadesa de Lemon
Comment[ca@valencia]=Ajusts de privadesa de Lemon
Comment[cs]=Nastavení soukromí v prostředí Lemon
Comment[cy]=Gosodiadau preifatrwydd Lemon
Comment[da]=Lemon-privatlivsindstillinger
Comment[de]=Lemon-Datenschutzeinstellungen
Comment[el]=Ρυθμίσεις ιδιωτικότητας του Lemon
Comment[eo]=Privatecaj agordoj de Lemon
Comment[es]=Configuración de la privacidad de Lemon
Comment[es_AR]=Configuración de la privacidad de Lemon
Comment[et]=Lemoni privaatsussätted
Comment[eu]=Lemon pribatutasunaren ezarpenak
Comment[fa]=تنظیمات حریم‌خصوصی Lemon
Comment[fi]=Lemonin tietosuojan asetukset
Comment[fr]=Paramètres Lemon de protection des renseignements personnels
Comment[fr_CA]=Paramètres Lemon de protection des renseignements personnels
Comment[gd]=Roghainnean prìobhaideachd Lemon
Comment[gl]=Opciones de intimidade de Lemon
Comment[he]=הגדרות פרטיות סינמון
Comment[hi]=सिनेमन निजता सेटिंग्स
Comment[hr]=Lemon postavke privatnosti
Comment[hu]=Lemon magánszféra beállítások
Comment[ia]=Configuration de confidentialitate de Lemon
Comment[id]=Pengaturan privasi Lemon
Comment[ie]=Parametres de privatie de Lemon
Comment[is]=Gagnaleyndarstillingar Lemon
Comment[it]=Impostazioni privacy di Lemon
Comment[ja]=Lemon 個人情報の設定
Comment[kab]=Iɣewwaren usligen Lemon
Comment[ko]=시나몬 프라이버시 설정
Comment[lo]=ການຕັ້ງຄ່າຄວາມເປັນສ່ວນຕົວຂອງ Lemon
Comment[lt]=Lemon privatumo nustatymai
Comment[lv]=Lemon privātuma iestatījumi
Comment[ms]=Tetapan privasi Lemon
Comment[nb]=Personverninnstillinger for Lemon
Comment[nds]=Lemon Privatsphäre Einstellungen
Comment[nl]=Instellingen van Lemon inzake privéleven
Comment[nn]=Personverninnstillingar for Lemon
Comment[oc]=Paramètres de confidencialitat de Lemon
Comment[pl]=Ustawienia prywatności Lemon
Comment[pt]=Definições de privacidade Lemon
Comment[pt_BR]=Configurações de privacidade do Lemon
Comment[ro]=Setări confidențialitate Lemon
Comment[ru]=Настройки конфиденциальности Lemon
Comment[rue]=Штімованя конфіденціалности Lemon
Comment[sc]=Cunfiguratziones de riservadesa de Lemon
Comment[sk]=Nastavenia súkromia Lemon
Comment[sl]=Nastavitve zasebnosti Lemona
Comment[sq]=Parametrat e privatësisë të Lemon
Comment[sr]=Поставке приватности Цимета
Comment[sr@ijekavian]=Поставке приватности Цимета
Comment[sr@ijekavianlatin]=Поставке приватности Цимета
Comment[sr@latin]=Postavke privatnosti Lemona
Comment[sv]=Lemon integritetsinställningar
Comment[th]=การตั้งค่าความเป็นส่วนตัวของ Lemon
Comment[tr]=Lemon gizlilik ayarları
Comment[uk]=Параметри конфіденційности Lemon
Comment[ur]=سنامون پرائیویسی کی ترتیبات
Comment[uz]=Sinnamonning mahfiylik parametrlari
Comment[vi]=Cài đặt riêng tư Lemon
Comment[zh_CN]=Lemon隐私设置
Comment[zh_HK]=Lemon 私隱設定
Comment[zh_TW]=Lemon 隱私設定
Keywords=privacy;recent;gtk;private;
Keywords[am]=የ ግል: የ ቅርብ ጊዜ: gtk: የ ግል;
Keywords[ar]=الخصوصية، الاخيرة، gtk، الشخصي;
Keywords[ast]=privacidá;apocayá;gtk;priváu;
Keywords[ay]=jan yaqhipar churaña;jichhaki;gtk;jani yaqha jaqina;privacidad;reciente;privado;
Keywords[az]=gizlilik;sonuncu;gtk;özəl;
Keywords[be]=прыватнасць;нядаўнія;gtk;асабістыя;
Keywords[bg]=лично;текущо;gtk;частно;
Keywords[ca]=privadesa;recent;gtk;privat;
Keywords[ca@valencia]=privadesa;recent;gtk;privat;
Keywords[cs]=soukromí;nedávné;gtk;soukromé;
Keywords[cy]=preifatrwydd;diweddar;gtk;preifat;
Keywords[da]=privatliv;seneste;gtk;privat;
Keywords[de]=Datenschutz;Privatsphäre;Vertraulichkeit;Geheimhaltung;kürzlich;letzte;neueste;jüngste;
Keywords[el]=ιδιωτικότητα;πρόσφατο;gtk;ιδιωτικό;
Keywords[eo]=privateco;antaŭ nelonge;gtk;privata;
Keywords[es]=privacidad;reciente;gtk;privado;
Keywords[es_AR]=privacidad;reciente;gtk;privado;
Keywords[et]=privaatsus;gtk;
Keywords[eu]=pribatutasuna;azkenak;gtk;pribatua;
Keywords[fa]=حریم‌خصوصی، اخیر، gtk، خصوصی;
Keywords[fi]=yksityisyys;viimeiset;gtk;tietosuoja;
Keywords[fr]=confidentialité;protection des renseignements personnels;récent;gtk;privé;
Keywords[fr_CA]=confidentialité;protection des renseignements personnels;récent;gtk;privé;
Keywords[gd]=privacy;recent;gtk;private;prìobhaideahcd;o chionn goirid;prìobhaideach;
Keywords[gl]=intimidade;recente;gtk;privado;
Keywords[he]=פרטיות;לאחרונה;gtk;פרטי;
Keywords[hi]=निजता;हालिया;जीटीके;निजी;
Keywords[hr]=privatnost;nedavno;gtk;privatno;
Keywords[hu]=magánszféra;legutóbbi;gtk;magán;
Keywords[ia]=confidentialitate;recente;gtk;private;
Keywords[id]=privasi;baru-baru ini;gtk;pribadi;
Keywords[is]=friðhelgi;persónulegt;einka;gagnaleynd;gtk;
Keywords[it]=privacy;recenti;gtk;privato;
Keywords[ja]=privacy;recent;gtk;private;プライバシー;個人情報;最近使ったファイル;プライベート;
Keywords[kab]=tabadnit;melmi kan;gtk;uslig;
Keywords[ko]=프라이버시;최근;gtk;비공개;
Keywords[lo]=ຄວາມເປັນສ່ວນຕົວ;ຫຼ້າສຸດ;gtk;ສ່ວນຕົວ;
Keywords[lt]=privatumas;paskiausi;gtk;privatu;
Keywords[lv]=privātums;nesen;gtk;privāts;
Keywords[ms]=Privasi;baru-baru ini;gtk;peribadi;
Keywords[nb]=personvern;nylig;gtk;privat;
Keywords[nds]=Datenschutz;kürzlich erfolgt;gtk;Privat;
Keywords[nl]=privéleven;onlangs;gtk;privé;
Keywords[nn]=personvern;nyleg;gtk;privat;
Keywords[oc]=confidencialitat;proteccion de las donadas personalas;recent;gtk;privat;
Keywords[pl]=prywatność;ostatnie;gtk;prywatny;
Keywords[pt]=privacidade;recentes;gtk;privado;
Keywords[pt_BR]=privacidade;recente;gtk;privado;
Keywords[ro]=confidențialitate;recent;gtk;confidențial;
Keywords[ru]=конфиденциальность;недавние;gtk;приватность;
Keywords[rue]=конфіденціалность;недавні;gtk;пріватность;
Keywords[sc]=riservadesa;reghente;gtk;privadu;
Keywords[sk]=súkromie;nedávno otvorené;gtk;súkromné;
Keywords[sl]=zasebnost;nedavno;gtk;zasebno;
Keywords[sq]=privatësia;të fundit;gtk;privat;
Keywords[sr]=приватност;скорашње;гтк;мир;
Keywords[sr@ijekavian]=приватност;скорашње;гтк;мир;
Keywords[sr@ijekavianlatin]=приватност;скорашње;гтк;мир;
Keywords[sr@latin]=privatnost;skorašnje;gtk;privatno;
Keywords[sv]=integritet;senaste;gtk;privat;
Keywords[th]=ความเป็นส่วนบุคคล;ล่าสุด;gtk;ส่วนบุคคล;
Keywords[tr]=gizlilik;son dosyalar;gtk;özel;
Keywords[uk]=конфіденційність;останні;GTK;приватне;
Keywords[ur]=پرائیوسی، حالیہ، جی ٹی کے، پرائیویٹ، نجی;
Keywords[uz]=mahfiylik;yaqindagi;gtk;mahfiy;
Keywords[vi]=riêng tư;gần đây;gtk;riêng tư;
Keywords[zh_CN]=隐私，最近，gtk，个人;
Keywords[zh_HK]=私隱;最近;GTK;私人;
Keywords[zh_TW]=隱私;最近;GTK;私人;
